<form action="/edit" method="post">
  <textarea name="description" rows="8" cols="80" placeholder="Description">Opening hours</textarea><br><br>
  <input type="submit" name="update" value="Submit">
</form>
