<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
</head>
<head>
<title>Spice It Up</title>
</head>

<body>
  <h1>Restaurant Spice It Up</h1>
<div>
   Welcome to Spice It Up! Are you tired of the same boring food day after day? Don't worry, we got your back! We specialise in the best food from Iceland, Kyrgyzstan, South Africa and Sweden. Try it out!
   <p>Opening hours: 12.00-24.00</p>
   <pre>Contact information:  email: you_wanna@spice_it_up.now  |  Address: Spice rd 1, 234 56 It, Up  |  Owner: Hothead-Hermes</pre>
</div>
<body>

<div>
  <h1>Menu</h1>
  <% if @dishes.any? %>
    <% @dishes.each do |dish| %>
      <h2> <%= dish.name %> </h2>
      <p> <%= dish.description %> </p>
      <p> Price: <%= dish.price %> kr </p>
    <%end%>
  <% else %>
    <p>There are no dishes in the system!</p>
  <%end%>
</div>

</body>
</html>
