<form action="/auth/login" method="post">
  <div class="form-icons">
    <h5>Log into your account</h5>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <input class="input-group-field" type="text" name="user[username]" placeholder="Username"/>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <input class="input-group-field" type="password" name="user[password]" placeholder="Password" />
    </div>
    <input class="button expanded custom" type="submit" value="Log In" />
  </div>
</form>
