body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

form .form-icons {
  text-align: center;
  margin: 5% 35%;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: green;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}

.hero-section {
  background: url("https://static.pexels.com/photos/70842/hot-pepper-pepper-fire-food-70842.jpeg") 50% no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

h1 {
  padding-bottom: 20px;
  font-size: 90px;
}

h2 {
  color: green;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 60px;
}

h3 {
  font-size: 50px;
  padding-top: 20px;
  }

.button.custom {
  background-color: green;
}

.button.custom:hover,
.button.custom:focus {
background-color: darken($buttoncolor, 10%);
}

h5 {
  color: green;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 40px;
}

a {
  color: green;
}

#menu {
    max-width: 600px;
    margin: auto;
}

.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: black;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

footer {
  background: black;
  color: white;
  padding: 20px;
}

form .form-icons .input-group-label {
    background-color: green;
}
